/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


body{
    background-image: url(../img/sfondo.png); 
    
    font-family: 'Poppins', sans-serif;
    
    line-height: 1.5rem;
    padding: 5%;
    text-align: center;

}

header,main,footer{
    box-shadow: 0px 2px 5px rgb(0 1 3 / 70%);
} 

hr{
    opacity: 0;
}

p{
    padding-block: 20px;
}


/* HEADER */

header{
    background-color:#0088AA ;
    width: 100%;
    height:40vh;  
    text-align: center;
    color: white;
    text-transform:uppercase;
    font-weight: bold; 
    padding-bottom: 10px;
    
}

header ul{
    list-style-type: none;
    line-height: 0.7rem;
}



header a:link{
    color: white;
    text-decoration: none;
}

header *{
    padding: 6px;
}

img{
    padding-top: 20px;
}


/* MAIN */
main{
    background-color: white;
    width: 90%;
    padding: 5%;
    text-align: left;
}

article{
    padding-top: 30px;
}

article h1{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5em;
}

#date{
    padding-block: 10px;
    color: gray;
}

ul,ol{
    margin-block: 15px;
    padding-left: 30px;
    line-height: 1.7rem;
}


strong{
    color:#AB679C;
    font-weight: bold;
}

/* ELEMENTI NEL MAIN - ARTICLE */
code{
    background-color: rgb(231, 226, 226);
    border-radius: 5px;
    border: gray solid 1px;
}


/* TABELLE */

caption{
    font-weight: bold;
    font-style: italic;
}

table{
    width: 90%;
    line-height: 300%;    
    text-align: center;
    padding:10px
    
    
}


thead{
    background-color:rgb(0, 168, 247);
    color: white;
}


tr:nth-child(even) {background: #CCC}

#last--tr{
    border-bottom: #2f54e7 solid 1px;
}

main a{
    color: rgb(0, 168, 247);
}

iframe{
    border-radius: 30px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/* FORM */

section{
    margin-block: 30px  ;
    background-color:#CCC;
    text-align: center;
    padding: 20px 10px;
}

input, button{
    margin: 0%;
    padding: 0;
}
button{
    color: white;
    background-color:rgb(0, 168, 247);
}
/* ELEMENTI NELL' ASIDE */

section h2{
    font-size: large;
    font-weight: bold;
}
aside h2{
    font-size: large;
    font-weight: bold;
}

aside div{
    margin-block: 30px  ;
    background-color:#CCC;
    text-align: left;
    padding: 20px 20px;
    line-height: 0.7rem;
    
}
.calender{
    text-align: right;
}

/* FOOTER */
footer{
    background: linear-gradient(0deg, rgba(46,52,55,1) 0%, rgba(3,84,103,1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
    
}

footer :link{
    color: violet;
}

address{
    padding-top: 20px;
}